# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


react/node_modules
react/.env.local
react/.umirc.local.ts
react/config/config.local.ts
react/src/.umi
react/src/.umi-production
react/src/.umi-test
react/dist

package-lock.json
yarn.lock
