# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


react-demo/node_modules
react-demo/.env.local
react-demo/.umirc.local.ts
react-demo/config/config.local.ts
react-demo/src/.umi
react-demo/src/.umi-production
react-demo/src/.umi-test
react-demo/dist

im-kit-ui/lib
im-kit-ui/es

package-lock.json
yarn.lock
