@import './theme.less';

@welcome-prefix-cls: ~'@{welcome-prefix}-wrap';

.@{welcome-prefix-cls} {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: @yx-text-color-1;
  background-color: @yx-primary-color;
  max-width: 260px;
  max-height: 260px;
  position: relative;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  img {
    max-width: 260px;
    margin-bottom: 6px;
  }
}
