@font-face {
  font-family: 'iconfont';  /* Project id 3429868 */
  src: url('//at.alicdn.com/t/c/font_3429868_1tnmbfdv30p.woff2?t=1672901807584') format('woff2'),
       url('//at.alicdn.com/t/c/font_3429868_1tnmbfdv30p.woff?t=1672901807584') format('woff'),
       url('//at.alicdn.com/t/c/font_3429868_1tnmbfdv30p.ttf?t=1672901807584') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message_fill_light:before {
  content: '\e7e8';
}

.icon-tongxunlu1:before {
  content: '\e7bb';
}
